* {
    font-family: Roboto, sans-serif;
}

body {
    margin: 0;
}

header, #hero, footer {
    background-color: #1f2937;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#header-logo {
    font-size: 24px;
    color: #f9faf8;
    margin: 10px;
}

#header-links {
    display: flex;
    justify-content: right;
}

header a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
    margin: 10px;
}

#hero {
    display: flex;
    justify-content: space-evenly;
    padding: 50px 0;
}

#hero div {
    width: 500px;
}

#hero h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin: 0;
}

#hero p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
}

#hero img {
    width: 300px;
    min-width: 0;
    object-fit: contain;
}

#hero button, #call-to-action button {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    padding: 10px 30px;
    border-radius: 10px;
    margin: 10px 0;
}

#random-info h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
}

#random-info div {
    display: flex;
    justify-content: center;
}

#random-info figure {
    margin: 0 50px 75px;
}

#random-info img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 5px #3882f6 solid;
    border-radius: 10px;
}

#random-info figcaption {
    width: 200px;
}

#thor-quote {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
}

#thor-quote blockquote {
    width: 700px;
    display: flex;
    flex-direction: column;
    margin: 70px;
}

#thor-quote p {
    align-self: flex-end;
    margin: 20px;
}

#thor-quote p:first-child {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
}

#thor-quote p:last-child {
    font-weight: bold;
}

#call-to-action {
    display: flex;
    justify-content: center;
}

#call-to-action div {
    font-size: 18px;
    background-color: #3882f6;
    color: #f9faf8;
    margin: 50px;
    padding: 20px 50px;
    width: 70%;
    display: flex;
    justify-content: space-around;
    border-radius: 30px;
}

#call-to-action button {
    border: 3px solid white
}

footer {
    color: #e5e7eb;
    text-align: center;
    padding: 20px;
}