* {
    font-family: Roboto, sans-serif;
}

body {
    margin: 0;
}

header, #hero, footer {
    background-color: #1f2937;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#header-logo {
    font-size: 24px;
    color: #f9faf8;
    margin: 10px;
}

#header-links {
    display: flex;
    justify-content: right;
}

header a {
    font-size: 18px;
    color: #e5e7eb;
    margin: 10px;
}

#hero {
    display: flex;
    justify-content: space-evenly;
    padding: 50px 0;
}

#hero div {
    width: 500px;
}

#hero h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin: 0;
}

#hero p {
    font-size: 18px;
    color: #e5e7eb;
}

#hero img {
    width: 300px;
    min-width: 0;
    object-fit: contain;
}