* {
    font-family: Roboto, sans-serif;
}

body {
    margin: 0;
}

header, #hero, footer {
    background-color: #1f2937;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-logo {
    font-size: 24px;
    color: #f9faf8;
    margin: 10px;
}

#header-links {
    display: flex;
    justify-content: right;
}

header a {
    font-size: 18px;
    color: #e5e7eb;
    margin: 10px;
}